name: ci-build-push

on:
  push:
    branches:
      - main
      - dev/*

jobs:
  build-push:
    runs-on: ubuntu-latest

    env:
      ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}

    steps:
      - uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: ACR login
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build frontend image
        run: |
          docker build \
            -t $ACR_LOGIN_SERVER/taskify-frontend:${{ github.sha }} \
            ./frontend

      - name: Build backend image
        run: |
          docker build \
            -t $ACR_LOGIN_SERVER/taskify-backend:${{ github.sha }} \
            ./backend

      - name: Trivy scan backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.ACR_LOGIN_SERVER }}/taskify-backend:${{ github.sha }}'
          format: 'table'
          vuln-type: 'os,library'
          severity: 'CRITICAL'
          exit-code: '1'
          ignore-unfixed: true

      - name: Push images
        run: |
          docker push $ACR_LOGIN_SERVER/taskify-frontend:${{ github.sha }}
          docker push $ACR_LOGIN_SERVER/taskify-backend:${{ github.sha }}
